@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");

:root {
  font-size: 20px;
}

.App {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 300;
}

#outputSection {
  cursor: default;
}

.input-tile {
  transition: all 0.1s ease;
}

#historyOverlay {
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease;
}
